%html
	%head
		%title Project Status - The Furnace
		%link{ :href => '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css', :rel => 'stylesheet' }
		%link{ :href => './style/combined.css', :rel => 'stylesheet' }
	%body{ :class => 'container-fluid' }
		%div{ :class => 'row-fluid' }
			%div{ :class => 'span5' }
				%h1 Project activity
				- github.each do |entry|
					%div{ :class => 'activity-title' }
						%img{:src => entry['actor']['avatar_url'] + '&s=64', :class => 'activity-avatar'}
						%span{ :class => 'activity-actor' }= entry['actor']['login']
						%span= entry['repo']['name'].split('/').last
						%span{ :class => 'activity-small'}= entry['created_at']
					- (entry['payload']['commits'] || []).each do |commit|
						%p{:class=>'commit-message'}= commit['message']
					%hr
			%div{ :class => 'span7' }
				%h1 Build status
				- status.each do |project|
					%span{ :class => 'build-name' }= project[:name]
					%span{ :class => 'build-label label ' + (project[:status] == 'Success' ? 'label-success' : 'label-warning') }
						=project[:status]
					%br